# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
.build/

# Entornos
.venv/
venv/
.env/
.envrc

# Herramientas
.pytest_cache/
.cache/
.ipynb_checkpoints/

# macOS
.DS_Store

# Modelos/datos pesados (ajusta a tu caso)
checkpoints/
data/
outputs/
.venv/
venv/
__pycache__/
.pytest_cache/
.DS_Store
